/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/menus.css);

/* Mega Drop-Down Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	text-shadow: 0 1px 0 rgba(0,0,0,0.8);
	text-transform: none;
}

.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span { 
	height: 80px;
	padding: 0 15px;
	line-height: 80px;
}

/* Set Active */
.menu-dropdown li.active .level1 { color: #fff; font-weight:bold; }

/* Set Hover */
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1 {
	box-shadow: 1px 0 0 rgba(255,255,255,0.04),
				-1px 0 0 rgba(255,255,255,0.04),
				inset 0 0 5px rgba(0,0,0,0.08);
	color: #fff;
}

/* Drop-Down */
.menu-dropdown .dropdown { top: 80px; }

.menu-dropdown .dropdown-bg > div { padding: 5px 5px; }

/* Level 2 */
.menu-dropdown a.level2 > span, 
.menu-dropdown span.level2 > span { line-height: 18px; }

.menu-dropdown a.level2,
.menu-dropdown span.level2 {
	padding-left: 20px;
	background-position: 0 -200px;
	background-repeat: no-repeat;
	color: #bcbcbc;
	text-transform: none;
        font-size:16px;
}

/* Set Hover */
.menu-dropdown a.level2:hover,
.menu-dropdown span.level2:hover { 
	background-position: 0 0;
	background-repeat: no-repeat;
}

/* Set Current */
.menu-dropdown a.current.level2 { color: #e4e4e4; }

/* Level 3 */
.menu-dropdown a.level3 {
	margin-left: 20px;
	color: #878787;
}

/* Set Current */
.menu-dropdown a.current.level3 { color: #c2c2c2; } 

/* Icons */
.menu-dropdown .level1 .level1 span.icon { height: 80px; }

/* Subtitle */
.menu-dropdown .level1 .level1 span.title { margin-top: 25px; }

.menu-dropdown li.level2 .level2 span.subtitle { line-height: 20px; }

/* Menu + Module */
.menu-dropdown .module a { color: #a6a6a6; }


/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/

/* Link */
.menu-sidebar a,
.menu-sidebar li > span { 
	font-size: 20px; 
	color: #969696; 
}

/* Current */
.menu-sidebar a.current { color: #636363; }

/* Level 1 */
.menu-sidebar a.level1 > span, 
.menu-sidebar span.level1 > span { 
	margin-left: -20px;
	padding: 7px 0 7px 20px; 
}

/* Parents Level 1 */
.menu-sidebar li.parent.active .level1 { color: #636363; } 

.menu-sidebar li.parent .level1 > span { 
	background-position: 0 -200px;
	background-repeat: no-repeat; 
}

.menu-sidebar li.parent .level1 > span:hover { background-position: 0 0; }

.menu-sidebar li.parent.active .level1 > span { background-position: 0 -50px; }
.menu-sidebar li.parent.active .level1 > span:hover { background-position: 0 0; }

/* Level 2 */
.menu-sidebar ul.level2 { padding: 8px 0; }

.menu-sidebar a.level2 {
	padding: 5px 0 5px 15px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.menu-sidebar a.level2:hover { background-position: 0 -35px; }

.menu-sidebar a.level2.current { background-position: 0 -70px; }
.menu-sidebar a.level2.current:hover { background-position: 0 -35px; }

/* Level 3-4 */
.menu-sidebar ul.level3 { padding-left: 25px; }
.menu-sidebar ul.level3 ul { padding-left: 10px; }


/* Sidebar/accordion menu on colored modules
----------------------------------------------------------------------------------------------------*/

/* Module-Box Color-Color */
.mod-box-color .menu-sidebar a,
.mod-box-color .menu-sidebar li > span { color: #fff; }

.mod-box-color .menu-sidebar a.current,
.mod-box-color .menu-sidebar a:hover,
.mod-box-color .menu-sidebar li > span:hover { text-shadow: 0 1px 0 rgba(255,255,255,0.1); }

.mod-box-color .menu-sidebar li.parent.active .level1 { color: #fff; } 

.mod-box-color .menu-sidebar li.parent .level1 > span:hover { background-position: 0 -50px; }

.mod-box-color .menu-sidebar li.parent.active .level1 > span { background-position: 0 -100px; }
.mod-box-color .menu-sidebar li.parent.active .level1 > span:hover { background-position: 0 -50px; }

.mod-box-color .menu-sidebar a.level2:hover,
.mod-box-color .menu-sidebar a.level2.current { background-position: 0 -70px; }

/* Module-Box Color-Dark */
.mod-box-dark .menu-sidebar a,
.mod-box-dark .menu-sidebar li > span { color: #fff; }

.mod-box-dark .menu-sidebar a.current,
.mod-box-dark .menu-sidebar a:hover,
.mod-box-dark .menu-sidebar li > span:hover { text-shadow: 0 1px 0 rgba(0,0,0,0.6); }

.mod-box-dark .menu-sidebar li.parent.active .level1 { color: #fff; }

.mod-box-dark .menu-sidebar li.parent.active .level1 > span  { background-position: 0 -100px; }
.mod-box-dark .menu-sidebar li.parent.active .level1 > span:hover  { background-position: 0 0; }

.mod-box-dark .menu-sidebar a.level2:hover,
.mod-box-dark .menu-sidebar a.level2.current { background-position: 0 -35px; }


/* Line Menu
----------------------------------------------------------------------------------------------------*/

.menu-line li {
	margin-left: 7px;
	padding-left: 8px;
	background: url(../images/menu_line_item.png) 0 50% no-repeat;
}

.menu-line li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}

.menu-line li a { color: #666666; }

