/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/system.css);
@import url(../warp/systems/joomla/css/system.css);
@import url(system-all.css);


/* Items (Addition)
----------------------------------------------------------------------------------------------------*/

 #system .items .leading .item { margin-bottom: 10px; }


/* Item List
----------------------------------------------------------------------------------------------------*/

#system .item-list {
	padding: 30px;
	background: #fff;
	box-shadow: 0 1px 0 #e5e5e5;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

#system .item-list > *:first-child{ margin-top: 0; }


/* Search
----------------------------------------------------------------------------------------------------*/

#system span.highlight { background-color: #ffffaa; }
