/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* Background Texture: Linen Fabric */
#page #block-main { 
	background-image: url(../../images/texture/linenfabric.png); 
	background-position: 0 0;
	background-repeat: repeat;
}

#page,
#page #block-bottom,
#page #block-footer { 
	background-image: url(../../images/texture/linenfabric_dark.png)!important;
	background-position: 0 0;
	background-repeat: repeat;
}

