/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

.menu-dropdown a.level1,
.menu-dropdown span.level1,
.menu-dropdown a.level2,
.menu-dropdown span.level2 { 
	font-family: "DroidSansRegular";
	font-size: 18px; 
}

