/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@font-face {
	font-family: 'DroidSansRegular';
	src: url('DroidSans-webfont.eot');
	src: url('DroidSans-webfont.eot%3F') format('embedded-opentype'),
		 url('DroidSans-webfont.woff') format('woff'),
		 url('DroidSans-webfont.ttf') format('truetype'),
		 url('DroidSans-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

