/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@font-face {
	font-family: 'OpenSansLight';
	src: url('OpenSans-Light-webfont.eot');
	src: url('OpenSans-Light-webfont.eot%3F') format('embedded-opentype'),
		url('OpenSans-Light-webfont.woff') format('woff'),
		url('OpenSans-Light-webfont.ttf') format('truetype'),
		url('OpenSans-Light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

