/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

h1,
h2,
h3,
h4,
h5,
h6 { font-family: "OpenSansLight"; }

h1 { font-size: 30px; line-height: 30px; }
h2 { font-size: 28px; line-height: 28px; }
h3 { font-size: 16px; line-height: 16px; }
h4, h5, h6 { font-size: 14px; line-height: 14px; }

.menu-sidebar { font-family: "OpenSansLight"; }

#system .gridalicious .title { font-size: 24px; }